In [2]:
# Importing some packages

import time
import numpy as np
import pandas as pd

from collections import Counter

from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [3]:
# Read data training & testing data

trainData = pd.read_csv("./Data/titanic/train.csv")
testData = pd.read_csv("./Data/titanic/test.csv")


# Dropping unnecessary features
# 1. PassengerId
# 2. Name
# 3. Ticket

# trainData["Embarked"].astype("str")


trainData = trainData[~pd.isnull(trainData["Embarked"])]
# testData = testData[~pd.isnull(testData["Embarked"])]
trainData = trainData[~pd.isnull(trainData["Age"])]
# testData = testData[~pd.isnull(testData["Age"])]
# testData = testData[~pd.isnull(testData["Fare"])]





trainTarget = trainData["Survived"]
testPId = testData["PassengerId"]
trainData = trainData.drop(["Name", "Ticket", "PassengerId", "Survived", "Cabin"], axis = 1)
testData = testData.drop(["Name", "Ticket", "PassengerId", "Cabin"], axis = 1)

In [151]:
trainData.head()
# trainData.shape

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  22.0      1      0   7.2500         2
1       1    0  38.0      1      0  71.2833         0
2       3    0  26.0      0      0   7.9250         2
3       1    0  35.0      1      0  53.1000         2
4       3    1  35.0      0      0   8.0500         2

In [208]:
# testData.shape
# testData.head()
np.mean(trainData["Fare"])
# Counter(list(trainData["Fare"]))

34.56725140449432

In [226]:
genderEncoder = LabelEncoder()
genderEncoder = genderEncoder.fit(trainData["Sex"])
trainData["Sex"] = genderEncoder.transform(trainData["Sex"])
testData["Sex"] = genderEncoder.transform(testData["Sex"])

embarkEncoder = LabelEncoder()
embarkEncoder = embarkEncoder.fit(trainData["Embarked"])
trainData["Embarked"] = embarkEncoder.transform(trainData["Embarked"])
testData["Embarked"] = embarkEncoder.transform(testData["Embarked"])

embarkEncoder.transform(["S"])

array([2], dtype=int64)

In [227]:
dtModel = tree.DecisionTreeClassifier()
dtModel = dtModel.fit(trainData, trainTarget)

In [236]:
testData["Age"] = testData["Age"].fillna(29.64)
testData["Fare"] = testData["Fare"].replace(34.56)
# testData["Embarked"].fillna(2)

preds = dtModel.predict(testData)

In [237]:
resultDT = pd.DataFrame(list(zip( testPId, preds)), columns = ["PassengerId", "Survived"])
# resultDT.columns = ["PassengerId, Survived"]
# resultDT.shape
resultDT.to_csv("./Result.csv", index = False)